# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Admin@1234
DB_NAME=lms_platform
DB_PORT=3306

# JWT Configuration
JWT_SECRET=84109b3b6d05e89e84c5044e51f6a8e27e6fe697c92646e92f2d3085103d8400bf9087cbf27daf5e662ffd5311f1aee08491f334b563c4a098b7841f7c44ae71
JWT_EXPIRES_IN=7d

# Server Configuration
PORT=5000
NODE_ENV=development

# File Upload Configuration
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

# Super Admin Registration
SUPER_ADMIN_REGISTRATION_CODE=SUPER_ADMIN_2024

# Judge0 Configuration (for coding questions)
JUDGE0_URL=http://localhost:2358
JUDGE0_API_KEY=your_judge0_api_key_here

# Email Configuration (for notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=vijaydmb@gmail.com
SMTP_PASS=veuddgsbtwuustty
SMTP_FROM=noreply@lms-platform.com
FRONTEND_URL=http://localhost:5173 
